*,
*::after,
*::before {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  color: #111;
}

h1 {
  background-color: rgb(119, 10, 10);
  color: #fff;
  padding: 1.5rem;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}

footer p {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

/* Container principal */
.container {
  display: flex;
  gap: 2rem;
  padding: 2rem;
  max-width: 1000px;
  margin: 0 auto;
}

/* Menu lateral */
nav {
  background-color: rgb(119, 10, 10);
  padding: 1rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 200px;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 1rem;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

nav a:hover {
  background-color: rgb(136, 48, 48);
}

/* Conteúdo principal */
.conteudo {
  background-color: white;
  padding: 2rem;
  border-radius: 10px;
  flex: 1;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
}

.conteudo h2 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

.conteudo p {
  line-height: 1.6;
  margin-bottom: 1rem;
}
